<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Django To Do List App</title>
  {% load static %}  
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>
<body>
<div class="header">
    <h2> To Do List App </h2>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Task...">
    <button class="button" type="submit"> <strong> Add </strong></button>
  </form>
</div>
  {% if todos %}
     <ul>
     {% for todo_list in todos %}
        {% if todo_list.completed %}
            <li class="striker"> {{todo_list.task | title}}  
              <span class="active"><a class="list" href="{% url 'Active' todo_list.id %}">Active</a></span>
              <span class="delete"><a class="list" href="{% url 'Delete' todo_list.id %}">Delete</a></span>
            </li>
        {% else %}
        <li> {{todo_list.task | title}} 
          <span class="done"><a class="list" href="{% url 'Done' todo_list.id %}">Done</a></span>
          <span class="delete"><a class="list" href="{% url 'Delete' todo_list.id %}">Delete</a></span>
         </li>
        {% endif %}
      {% endfor %}
     </ul>
  {% endif %}
</body>
</html> 
